:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body{
    overflow-y: hidden;
}
#root {
  height: 100%;
  margin: 0;
}
.and-node {
    width: 28px;
    height: 78px;
}
.or-node {
    width: 28px;
    height: 78px;
}
.ton-node {
    width: 28px;
    height: 78px;
    background-color: #07bc0c;

}
.tof-node {
    width: 28px;
    height: 78px;
}
.logicalNode{
    width: 100px;
    height: 150px;
    /*background-color:#007aff*/;
}
.inputNode{
    width: 180px;
    height: 60px;
}
.inputNodeSelect {
    max-width: 180px;
}
.outputNode{
    width: 180px;
    height: 60px;
}
.outputNodeSelect {
    max-width: 180px;
}



.dndflow {
    flex-direction: row;
    display: flex;
    flex-grow: 1;
    height: 100%;
}
/*Accordion*/
.dndflow aside {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
    background: #fcfcfc;
}

.dndflow aside .description {
    margin-bottom: 10px;
}

.dndflow .dndnode {
    height: 20px;
    padding: 4px;
    border: 1px solid #1a192b;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}
.dndflow .dndnode:hover {
    height: 20px;
    padding: 4px;
    border: 1px solid #1a192b;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: grab;
    transition-duration: 0.4s;
    background-color: #1b5e20;

}

.dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
}

.dndflow .selectall {
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .dndflow {
        flex-direction: row-reverse;
    }

    .dndflow aside {
        width: 20%;
        max-width: 250px;
    }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.dndflow aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 20%;
}

.dndflow aside,
.dndflow aside * {
    background: white;
}

.Sidebar {
    height: 90vh;
    overflow-y: auto;  /* on scrollbar vertical */
    overflow-x: hidden;  /* off horizontal scrollbar */
    padding: 10px;
}
.inputhandletext {
    position: relative;
    width: 1px;
    transform: translate(10px, -40%); /* move text 10px left */
    font-size: 12px;
    /*pointer-events: none;*/
}

.outputhandletext {
    position: absolute;
    right: 10px;
    top: -80%;
    font-size: 12px;
    /*pointer-events: none;*/
}


.softPLCFlow .react-flow__handle-connecting {
    background: #ff6060;
}

.softPLCFlow .react-flow__handle-valid {
    background: #55dd99;
}
/* scrollbar */
.Sidebar::-webkit-scrollbar {
    width: 8px;
}

.Sidebar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.Sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.Sidebar::-webkit-scrollbar-track {
    background: #f0f0f0;
}

/* settings */
.config-panel {
    width: 500px;
    padding: 12px;
    border: 1px solid #ccc;
    background: white;
    display: flex;
    flex-direction: column;
}

.config-inputs {
    max-height: 200px; /* Limite la hauteur visible */
    overflow-y: auto;
    margin-bottom: 12px;
    padding-right: 8px; /* Pour ne pas cacher le contenu avec la scrollbar */
}

.config-inputs::-webkit-scrollbar {
    width: 8px;
}
.config-inputs::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}
.config-inputs::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
.config-inputs::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.config-buttons {
    display: flex;
    justify-content: flex-end; /* aligner à droite */
    gap: 10px;
    margin-top: auto;
    /*background-color: #d4f5d4;*/
}

/* Highlight selected node with a blue border */
.react-flow__node.selected {
    border: 2px solid #2196f3 !important;
    box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.3);
    border-radius: 8px;
}

/*** Head of a Node ***/
.node-top-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px; /* same value of node-separator */
    background-color: #CFC9CE;
    z-index: 0; /* Sous les autres éléments */
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
/* Style for data.label container: green rectangle */
.react-flow__node .data-label {
    position: absolute;
    background-color: #FFFBDB; /* light yellow */
    /*border: 2px solid #4caf50;*/ /* darker green border */
    border-radius: 6px;
    padding: 6px 10px;
    font-weight: bold;
    color: #123F15;
    text-align: center;
    top: 5px;
    transform: translateX(-50%);
    display: inline-block;
    margin-bottom: 4px;

    z-index: 2;

}

.node-separator {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    height: 2px;
    background-color: #1b5e20;
    z-index: 1;
}

/*Communication*/
.ntb-Communication{
    height: 60px;
}
.react-flow__node .dl-Communication{
    top: 15px;
}


.ns-Communication{
    top: 60px;
}

/****/


/** Panel Menu **/
.menu-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px; /* espace horizontal entre les éléments */
    padding: 4px 4px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    margin-top: 4px;
    right: 4px;
    left: max(140px, calc(100vw - 490px));
    z-index: 1000;
    flex-wrap: wrap; /* Évite le chevauchement en cas de petit écran */;
}
.react-flow__panel {
    margin: 8px;
}
.color-picker {
    display: flex;
    align-items: center;
    gap: 6px;
}


/*Buttons*/
.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Arial, sans-serif;
    height: 37px;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #6EC800;
}

.button1:hover {
    background-color: #6EC800;
    color: white;
}
/* button Settings node */
.buttonNode {
    background-color: white;
    color: black;
    border: 1px solid #1a192b;
    font-style: italic;
}

.buttonNode:hover {
    background-color: #1a192b;
    color: white;
}
.closeSetting{
    border: 1px solid #ff6060;
}
.closeSetting:hover{
    background-color: #ff6060;
}



/* WebSocket */
fieldset {
    margin:10px;
    padding:10px;
    /*background: #EEEEEE;*/

    /*font-weight: bold;*/
    text-align: left;

    border: #444 1px solid;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;

    box-shadow: 0 0 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.25);
    -khtml-box-shadow: 0 0 5px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

legend {
    background: #999999;
    margin: 0;
    padding: 2px 15px;
    border: #444 1px solid;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;

    box-shadow: 0 0 5px rgba(0,0,0,0.5) inset;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5) inset;
    -khtml-box-shadow: 0 0 5px rgba(0,0,0,0.5) inset;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5) inset;

    color: white;
    font-style: italic;
}


/*Select*/
.custom-select {
    width: 100%;
    padding: 3px 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #FFFBDB;
    font-size: 12px;
    color: #1b5e20;
    outline: none;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right -0px center;
    background-size: 12px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    white-space: normal;
    word-break: break-word;

    font-weight: bold;
    color: #123F15;
    text-align: center;
}

.custom-select:hover {
    border-color: #888;
    background-color: #FFF399;
    color: #247F2A;
}

.custom-select:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}


/* edge edges Connection*/
.react-flow__edge-path {
    transition: stroke 0.1s, filter 0.2s, stroke-opacity 0.2s;
}
.react-flow__edge.selected .react-flow__edge-path {
    //stroke: #00bcd4 !important;
    //filter: brightness(1.75);
    stroke-opacity: 0.8;
    stroke-width: 2 !important;
}

/* Handle */
.inputhandleClass{
    background-color: #E9C572; /* CFC9CE */

}

/*** tooggle (debug) ***/
/* The switch - the box around the slider */
.switch-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    margin-top: -15px;
    right: 0px;
    position: relative;
}

.switch-label {
    font-size: 12px;
    margin-bottom: 0px;
    color: #333;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #6EC800;
}

input:focus + .slider {
    box-shadow: 0 0 1px #6EC800;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 30px;
}


/* animation edge */
.slider.round:before {
    border-radius: 50%;
}

@keyframes dash {
    to {
        stroke-dashoffset: -12;
    }
}

.animated-edge {
    stroke-dasharray: 8 4;
    stroke-width: 2;
    stroke: black;
    animation: dash 1s linear infinite;
}



/** debug **/
.debug-active .dndflow aside {/* hide accordion */
    display: none;
}
.debug-active .color-picker{/* hide color piker */
    display: none;
}
.debug-active .hide-when-debug {/* hide button */
    display: none;
}

.debug-active .menu-panel {
    left: max(140px, calc(100vw - 230px));
}